<edu-hero-banner
  [heading]="'Summer Collection'"
  [caption]="'Awesome new summer collection.'"
  [buttonText]="'Shop summer collection'"
  [images]="summerImages"
  (buttonAction)="buttonClickedForSummerCollection()"
></edu-hero-banner>

<!-- {{postListing | json}} -->

<!-- {{yearlyProfit - 4234324325235 | number}}

{{currentDate | date : "fullDate"}}

{{yearlyProfit | currency : "CAD" }} -->

<!-- {{ summerImages | json }} -->

<!-- {{ operation | async }} -->

<!-- {{collectionList | json}} -->

<!-- {{ 'Summer Holiday' | uppercase | lowercase | json }} -->

<!-- <edu-hero-banner
  [heading]="'New collection for Kids'"
  [buttonText]="'Explore Kids collection'"
></edu-hero-banner>

<edu-hero-banner
  [heading]="'New collection for Women'"
  [caption]="'Bright new summer collection.'"
  [images]="images"
></edu-hero-banner> -->
<edu-collections [collections]="$listing | async"></edu-collections>
<h1>Register Form</h1>
<edu-register-user></edu-register-user>

<h1>Login Form</h1>
<edu-login-form></edu-login-form>

{{ homepagePermissons | json }}

<button
  [ngClass]="{
    'bg-blue-600': homepagePermissons.C,
    'bg-gray-600': !homepagePermissons.C
  }"
  class="border border-gray-100 p-2"
  [disabled]="!homepagePermissons.C"
>
  Create
</button>
<button
[ngClass]="{
  'bg-blue-600': homepagePermissons.R,
  'bg-gray-600': !homepagePermissons.R
}"
  class="border border-gray-100 p-2"
  [disabled]="!homepagePermissons.R"
>
  Read
</button>
<button
[ngClass]="{
  'bg-blue-600': homepagePermissons.U,
  'bg-gray-600': !homepagePermissons.U
}"
  class="border border-gray-100 p-2"
  [disabled]="!homepagePermissons.U"
>
  Update
</button>
<button
[ngClass]="{
  'bg-blue-600': homepagePermissons.D,
  'bg-gray-600': !homepagePermissons.D
}"
  class="border border-gray-100 p-2"
  [disabled]="!homepagePermissons.D"
>
  Delete
</button>
