<edu-header></edu-header>
<edu-hero-banner
  [heading]="'Summer Collection'"
  [caption]="'Awesome new summer collection.'"
  [buttonText]="'Shop summer collection'"
  [images]="summerImages"
  (buttonAction)="buttonClickedForSummerCollection()"
></edu-hero-banner>

<!-- {{postListing | json}} -->

<!-- {{yearlyProfit - 4234324325235 | number}}

{{currentDate | date : "fullDate"}}

{{yearlyProfit | currency : "CAD" }} -->

<!-- {{ summerImages | json }} -->

<!-- {{ operation | async }} -->

<!-- {{collectionList | json}} -->

<!-- {{ 'Summer Holiday' | uppercase | lowercase | json }} -->

<!-- <edu-hero-banner
  [heading]="'New collection for Kids'"
  [buttonText]="'Explore Kids collection'"
></edu-hero-banner>

<edu-hero-banner
  [heading]="'New collection for Women'"
  [caption]="'Bright new summer collection.'"
  [images]="images"
></edu-hero-banner> -->

<edu-collections [collections]="$listing | async"></edu-collections>


<edu-create-collection></edu-create-collection>