<form [formGroup]="form" (ngSubmit)="addCollection()">
  <p>
    <label>Collection category</label>
    <input class="border-2 border-sky-950" formControlName="category" type="text" />
  </p>

  <p>
    <label>Collection Heading</label>
    <input class="border-2 border-sky-950" formControlName="heading" type="text" />
  </p>

  <p>
    <label>Collection Image</label>
    <input class="border-2 border-sky-950" formControlName="image" type="text" />
  </p>
  <p>
    <label>Collection Icon</label>
    <input class="border-2 border-sky-950" formControlName="icon" type="text" />
  </p>
  <button type="submit">Add Collection</button>
</form>
